<h1>Livros disponíveis:</h1>
<div class="books-container">
    <a href="/" class="btn">Adicionar Livro</a>
    <div style="clear: both;"></div>
    {{#each books}}
    <div>
        #{{this.id}} - <span class="bold">{{this.title}}</span> - {{this.pageqty}} páginas
    </div>
    {{/each}}
</div>